page-offerts {

    .avatar{
        border-radius: 5px;
        border: 2px #1577ab solid;
    }

    .active-status{
       color: green;
       font-weight: bold;
    }

    .inactive-status{
        color: rgb(59, 90, 119);
    }
    .offert-add{
        font-weight: bold;
    }
}
