<!--
  Generated template for the OffertsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content class="workapp-content">
 
    <ion-card *ngFor="let offert of offerts">
        <ion-item>     
          <ion-row>
            <ion-col col-3>
              <img class="avatar" src="../assets/imgs/logo_buisness.jpg">
            </ion-col>
            <ion-col col-9 class="avatar-name">
                <h2>{{offert.title}}</h2>
                <b><p>{{cities[offert.city-1]}}</p></b>
                <p>{{offert.address}}</p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-card-content>
          <ion-row>
            <ion-col col-3>
              <b>Start date</b>
            </ion-col>
            <ion-col col-9 >
                {{offert.start_date}}
            </ion-col>
            <ion-col col-3>
              <b>End date</b>
            </ion-col>
            <ion-col col-9 >
                {{offert.end_date}}
            </ion-col>
          </ion-row>
          
        </ion-card-content>
          <ion-row class="butons-container">
            <ion-col col-6>
              <ion-row>
              <ion-col col-3>
                <b>Status</b>
              </ion-col>
              <ion-col col-9 >
                 <label class="active-status">Active</label> 
              </ion-col>
            </ion-row>
            </ion-col>
            <ion-col col-6>
              <button ion-button outline class="btn-detalle"   small icon-start> 
                <ion-icon  name="md-person"></ion-icon>
                Detail
              </button>
              <button ion-button outline class="btn-detalle" (click)="editOffert(offert.id_offer)"  small icon-start> 
                <ion-icon  name="md-person"></ion-icon>
                Edit
              </button>
            </ion-col>
        
          </ion-row>
      </ion-card>
      <ion-card>
      <ion-card-content text-center>
        <button ion-button class="offert-add" (click)="addOffert()"><ion-icon name="add"></ion-icon>&nbsp;Offert</button>
      </ion-card-content>
      </ion-card>
</ion-content>
