page-login {
  ion-navbar{
    padding-top: 0px !important;
}

ion-nav{
    margin-top: 0px !important;
    height: 100%;
}
    .splash-bg {
      position: relative;
      background: url('../assets/img/splashbg.jpg') no-repeat transparent;
      background-size: cover;
      height: 35%;
      z-index: 1;
      background-repeat: repeat-x;
      animation: animatedBackground 50s linear infinite;
    }
  
    @keyframes animatedBackground {
      from { background-position: 0 0; }
      to { background-position: 100% 0; }
    }
  
    .splash-info {
      position: relative;
      z-index: 2;
      margin-top: -64px;
      text-align: center;
    }
    .splash-logo {
      margin: auto;
      background: url('../assets/imgs/logo.png') repeat transparent;
      background-size: 100%;
      width: 128px;
      height: 128px;
    }
    .splash-intro {
      font-size: 18px;
      font-weight: bold;
      max-width: 80%;
      margin: auto;
    }

    button.singup{
      background-color: #de760b;;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      color: white;
        font-weight: bold;
        float: right;
        margin: -0.6rem 0.2rem;
      &.activated {
        background-color: rgb(220, 220, 220);
      }
    }

    button.login{
        background-color: #2f393a;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        color: white;
          margin: -0.6rem 0.2rem;
        &.activated {
          background-color: rgb(220, 220, 220);
        }
      }
  
  }
  
