<ion-content class="main-content workapp-content">
  
  
    <ion-grid class="search-grid">
        <ion-row>
          <ion-col col-12>
              <ion-label class="search-title">WHAT ARE YOU LOOKING FOR?</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
              <ion-label float-left class="search-subtitle" color="primary" stacked>WORK TYPE</ion-label>
              <ion-select [(ngModel)]="work_type" name="work_type" placeholder="Work type" multiple="true" col-12>
                <ion-option value="1">Cement Worker</ion-option>
                <ion-option value="2">Construction Carpenter</ion-option>
                <ion-option value="3">Construction Electrician</ion-option>
                <ion-option value="4">Dry wall</ion-option>
                <ion-option value="5">Floor installer</ion-option>
                <ion-option value="6">Framer</ion-option>
                <ion-option value="7">General labour</ion-option>
                <ion-option value="8">Glazier</ion-option>
                <ion-option value="9">Mason</ion-option>
                <ion-option value="10">Plasterer</ion-option>
                <ion-option value="11">Plumber</ion-option>
                <ion-option value="12">Welder</ion-option> 
              </ion-select>        
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
              <ion-label float-left class="search-subtitle" color="primary" stacked>CITIES</ion-label>
              <ion-select [(ngModel)]="user_cities" multiple="true" placeholder="Cities" col-12>
                  <ion-option value="1">Abbotsford</ion-option>
                  <ion-option value="2">Aldergrove</ion-option>
                  <ion-option value="3">Burnaby</ion-option>
                  <ion-option value="4">Chilliwack</ion-option>
                  <ion-option value="5">Coquitlam</ion-option>
                  <ion-option value="6">Surrey</ion-option>
                  <ion-option value="7">Maple Ridge</ion-option>
                  <ion-option value="8">Mission</ion-option>
                  <ion-option value="9">New Westminster</ion-option>
                  <ion-option value="10">North Vancouver</ion-option>
                  <ion-option value="11">White Rock</ion-option>
                  <ion-option value="12">Vancouver</ion-option>
                </ion-select>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
              <ion-label float-left class="search-subtitle" color="primary" stacked >DATE REQUIRED</ion-label >
            </ion-col>
            <ion-col col-5>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="start_date"  name="start_date" placeholder="Start date"></ion-datetime>
            </ion-col>
            <ion-col col-2>
              <ion-label text-center class="search-subtitle-to" color="primary" stacked >to</ion-label >
            </ion-col>
            <ion-col col-5>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="end_date"  name="end_date" placeholder="End date"></ion-datetime>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
              <ion-label float-left class="search-subtitle" color="primary" stacked >REQUIRED SCHEDULE</ion-label >
            </ion-col>
            <ion-col col-5>
                <ion-datetime displayFormat="hh:mm A" [(ngModel)]="start_hour"  name="start_hour" placeholder="Start hour"></ion-datetime>
            </ion-col>
            <ion-col col-2>
              <ion-label text-center class="search-subtitle-to" color="primary" stacked >to</ion-label >
            </ion-col>
            <ion-col col-5>
                <ion-datetime displayFormat="hh:mm A" [(ngModel)]="end_hour"  name="start_hour" placeholder="Start hour"></ion-datetime>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
             
              <button ion-button icon-end (click)="search()" float-right>
                Search
                <ion-icon name="search"></ion-icon>
              </button>
              <button ion-button color="danger" icon-end (click)="clear()" float-right>
                Clear
                <ion-icon name="trash"></ion-icon>
              </button>
          </ion-col>
        </ion-row>
    </ion-grid>
    
    
    <ion-list>
      <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>
    </ion-list>
  </ion-content>