<ion-tabs>
  <ion-tab tabIcon="water" tabTitle="Water" [root]="tab1Root"></ion-tab>
  <ion-tab tabIcon="leaf" tabTitle="Life" [root]="tab2Root"></ion-tab>
  <ion-tab tabIcon="flame" tabTitle="Fire" [root]="tab3Root"></ion-tab>
  <ion-tab tabIcon="magnet" tabTitle="Force" [root]="tab4Root"></ion-tab>
</ion-tabs>