page-singup-employee {
    ion-navbar{
        padding-top: 0px !important;
    }
    
    ion-nav{
        margin-top: 0px !important;
        height: 100%;
    }
    .avatar-img{
        border: 2px solid  #106591;
        border-radius: 8px;
        margin-left: 10%;
    }
    .register-content{
        margin-top: 12px;
        margin: 10px;
        background-color: white;
        width: auto;
    }
    ion-label{
        text-align: center;
        font-weight: bold;
        font-size: 2.3rem;
        color: #1577ab;
    }
}
