<!--
  Generated template for the ReferencesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Employee References</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row class="references-container">
    <ion-col col-4>
      <b>Company</b>
    </ion-col>
    <ion-col col-8>
      CBA CONSTRUCTIONS
    </ion-col>
 
    <ion-col col-6>
        <b>Contact</b>
      </ion-col>
      <ion-col col-6>
        <b>Phone</b>
      </ion-col>
    <ion-col col-6>
      Jorge Robledo
    </ion-col>

    <ion-col col-6 >
        <button (click)="call('493-21-4345')" ion-button outline item-end icon-start>
          <ion-icon name="call"></ion-icon>
          493-21-4345
        </button>
       
    </ion-col>

  </ion-row>

  <ion-row class="references-container">
      <ion-col col-4>
        <b>Company</b>
      </ion-col>
      <ion-col col-8>
        CBA CONSTRUCTIONS
      </ion-col>
   
      <ion-col col-6>
          <b>Contact</b>
        </ion-col>
        <ion-col col-6>
          <b>Phone</b>
        </ion-col>
      <ion-col col-6>
        Jorge Robledo
      </ion-col>
  
      <ion-col col-6 (click)="call('493-21-4345')">
          <button (click)="call('493-21-4345')" ion-button outline item-end icon-start>
            <ion-icon name="call"></ion-icon>
            493-21-4345
          </button>
      </ion-col>
  
    </ion-row>
    
    <ion-row class="references-container">
        <ion-col col-4>
          <b>Company</b>
        </ion-col>
        <ion-col col-8>
          CBA CONSTRUCTIONS
        </ion-col>
     
        <ion-col col-6>
            <b>Contact</b>
          </ion-col>
          <ion-col col-6>
            <b>Phone</b>
          </ion-col>
        <ion-col col-6>
          Jorge Robledo
        </ion-col>
    
        <ion-col col-6 (click)="call('493-21-4345')">
          <button (click)="call('493-21-4345')" ion-button outline item-end icon-start>
            <ion-icon name="call"></ion-icon>
            493-21-4345
          </button>
        </ion-col>
    
      </ion-row>
</ion-content>
