// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
scroll-content {
    overflow-y: auto;
} 

.workapp-content{
    background-size: 100%;
    background: url('../assets/img/splashbg.jpg') no-repeat transparent;
    background-size: cover;
    margin-top: 40px !important;
    height: 80%;
}

.workapp-content-register{
    background-size: 100%;
    background: url('../assets/img/splashbg.jpg') no-repeat transparent;
    background-size: cover;
    margin-top: 40px !important;
  
}

ion-input,ion-datetime{
    border: solid 2px #106591;
    background-color: white;
    margin-top:10px; 
    border-radius: 5px;
    text-indent: 10px;
}

ion-textarea{
    border: solid 2px #106591;
    background-color: white;
    margin-top:10px; 
    border-radius: 5px;
    text-indent: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

ion-navbar{
    padding-top: 23px !important;
}


ion-select{
    border: solid 2px #106591;
    background-color: white;
    max-width: 100%;
    margin-top:10px; 
    border-radius: 5px;
}

.toolbar-background{
    background-color: #106591
    
}

.toolbar-title {
    color:white;
}

ion-label{
    color:black;
}

[col-12] {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.workapp-badge{
    font-size: 2rem;
    padding: 9px 17px;
    background-color: #106591;
    width: 143%;
    margin-top: 10px;
    border-radius: 5px;
}

.workapp-container{
    margin-top: 12px;
    margin: 10px;
    background-color: white;
    width: auto;
}

.tabbar {
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    opacity: 1;
}

ion-tabs{
    z-index: 1;
}

.porfile-icon{
    color: white;
    font-size: 2em !important;
    margin-top: -4px;
}

.menu-icon{
    color: white;
    font-size: 2em !important;
    margin-top: -4px;
}

.main-content{
    margin-top: 20px;
}

.swiper-slide img{
    height: 106px;
    width: 100%;
    margin-bottom: -3px;
}

