page-tutorial {
  ion-navbar{
    padding-top: 0px !important;
}

ion-nav{
    margin-top: 0px !important;
    height: 100%;
}
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

  .splash-logo {
    margin: auto;
    background: url('../assets/imgs/logo.png') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }


}
