page-employee-detail {
    .card-content{
      line-height: 1;
    } 
    .rank-stars ion-icon{
        color: rgb(252, 222, 90);
        font-size: 3rem;
        margin-top: -15px;
    }
    .rank-title{
      margin-top: -15px;
    }
    .description-calendar {
      color: #1577ab;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .employee-description{
      text-align: left;
      margin-top: 4px;
    }
    .btn-referencias {
        margin-top: 10px;
        background-color: #737373;
        color: white;
        font-weight: bold;
        float: right;
    }
    .btn-detalle {
        margin-top: 10px;
        background-color: #1577ab;
        color: white;
        font-weight: bold;
        float: right;
    }
    .description-label{
        color: #1577ab;
    }
    .butons-container{

    }
    .avatar{
        border-radius: 5px;
        border: 2px #1577ab solid;
    }
    .avatar-name{
        text-align: left;
        margin-top: 20px;
        padding-left: 10px;
    }

    [col-1] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 14.285714285714286%;
        width: 14.285714285714286%;
        max-width: 14.285714285714286%;
      }
      .col {
        text-align: center;
        padding: 5px;
      }
      .last-month, .next-month {
        color: #999999;
        font-size: 90%;
      }
      .currentDate, .otherDate {
        
      }
      .currentDate {
        background-color: #737373;
        color: black;
        border-radius: 30px;
      }
      .reservedDate {
        font-weight: bold;
        background-color: #1577ab;
        color: white;
        padding: 3px;
      }
      .colorDescription{
        border: black solid 1px;
        background-color: #1577ab;
      }
      .otherMonthDate{
        font-weight: bold;
        background-color: #7aabc5;
        color: white;
        padding: 3px;
      }
      .calendar-header {
        background-color: #083147;
        color: #FFFFFF;
      }
      .event-bullet {
        margin: 2px auto;
        height: 5px;
        width: 5px;
        background-color: #006faa;
        border-radius: 30px;
      }
      .selected-date {
        width: 20px;
        height: 2px;
        background-color: blue;
      }
      .unselected-date {
        border: none;
      }
      .description-title{
        text-align:left;
      }
      .calendar-body {
        .grid {
          padding: 0;
        }
        .col:last-child {
          border-right: none;
        }
        .calendar-weekday, .calendar-date {
          text-align: center;
          margin: 0;
        }
        .calendar-weekday {
          font-weight: bold;
          border-bottom: solid 1px #003d5e;
          background-color: #1577ab;
          color: white;
        }
        .calendar-date {
          border-top: solid 1px #1a732d;
          border-bottom: solid 1px #1a732d;
        }
      }
}
