<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      WORKAPP
    </div>
  </div>
  <div padding>
    <button ion-button block (click)="login()" class="login">{{ 'LOGIN' | translate }}</button>
    <ion-grid>
        <ion-row>
            <ion-col text-center col-12>
              Register
            </ion-col>
            <ion-col col-6>
              <button ion-button block (click)="signupBuldier()" class="singup">BUILDER</button>
            </ion-col>
            <ion-col col-6>
              <button ion-button block (click)="signupEmployee()" class="singup">EMPLOYEE</button>
            </ion-col>
            
        </ion-row>
    </ion-grid>
  </div>
</ion-content>
