page-search {
    ion-label{
        text-align:center;
    }
    .item-inner{
        margin-left: -35px !important;
    }

    .label-serach{
        font-size: 1.4rem;
    }
    .search-grid{
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        width: 96%;
    }
    .search-title{
        font-weight: bold;
        font-size: 2rem;
        color:#106591;
    }

    .search-subtitle{
        font-weight: bold;
        color:#106591;
        font-size: 1.4rem;
        
    }

    .search-subtitle-to{
        font-weight: bold;
        color:#106591;
        font-size: 1.5rem !important;
        margin-top: 20px;
    }

    ion-datetime{
        margin-left: 9px;
        margin-right: 9px;
    }

    .main-content{
        padding: 10px;
    }

}
