<ion-content padding>

    <ion-list>

        <ion-item>
          <ion-thumbnail item-start>
            <img class="avatar" src="../assets/img/marty-avatar.png">
          </ion-thumbnail>
          <h2>Jonathan Silva</h2>
          <p>Tablaroca, Estructuras</p>
          <button ion-button clear (click)="detail()" item-end>Details</button>
        </ion-item>
    
        <ion-item>
          <ion-thumbnail item-start>
            <img class="avatar" src="../assets/img/marty-avatar.png">
          </ion-thumbnail>
          <h2>Raiders of the Lost Ark</h2>
          <p>Steven Spielberg • 1981</p>
          <button ion-button clear item-end>View</button>
        </ion-item>
    
        <ion-item>
          <ion-thumbnail item-start>
            <img class="avatar" src="../assets/img/marty-avatar.png">
          </ion-thumbnail>
          <h2>Ghostbusters</h2>
          <p>Ivan Reitman • 1984</p>
          <button ion-button clear item-end>View</button>
        </ion-item>
    
        <ion-item>
          <ion-thumbnail item-start>
            <img class="avatar" src="../assets/img/marty-avatar.png">
          </ion-thumbnail>
          <h2>Batman</h2>
          <p>Tim Burton • 1988</p>
          <button ion-button clear item-end>View</button>
        </ion-item>
    
        <ion-item>
          <ion-thumbnail item-start>
            <img class="avatar" src="../assets/img/marty-avatar.png">
          </ion-thumbnail>
          <h2>Back to the Future</h2>
          <p>Robert Zemeckis • 1985</p>
          <button ion-button clear item-end>View</button>
        </ion-item>
    
        <ion-item>
          <ion-thumbnail item-start>
            <img class="avatar" src="../assets/img/marty-avatar.png">
          </ion-thumbnail>
          <h2>The Empire Strikes Back</h2>
          <p>Irvin Kershner • 1980</p>
          <button ion-button clear item-end>View</button>
        </ion-item>
    
        <ion-item>
          <ion-thumbnail item-start>
            <img class="avatar" src="../assets/img/marty-avatar.png">
          </ion-thumbnail>
          <h2>The Terminator</h2>
          <p>James Cameron • 1984</p>
          <button ion-button clear item-end>View</button>
        </ion-item>
    
      </ion-list>

</ion-content>
