
<ion-content class="workapp-content" >
  <ion-card>
  <form  [formGroup]="authForm" novalidate>
      <ion-grid class="register-content">
        <ion-row>
          <ion-col col-12>
            <ion-label color="primary" stacked>Title</ion-label>
            <ion-input type="text" formControlName="title"  name="title" placeholder="title" required></ion-input>
          </ion-col>
        </ion-row>        
        <ion-row>
          <ion-col col-12>
            <ion-label color="primary" stacked>Offert description</ion-label>
            <ion-textarea formControlName="description"  name="description" placeholder="Offert description"></ion-textarea>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item col-12>
              <ion-label color="primary" fixed>City</ion-label>
              <ion-select formControlName="city"  placeholder="Cities" col-8>
                <ion-option value="1">Abbotsford</ion-option>
                <ion-option value="2">Aldergrove</ion-option>
                <ion-option value="3">Burnaby</ion-option>
                <ion-option value="4">Chilliwack</ion-option>
                <ion-option value="5">Coquitlam</ion-option>
                <ion-option value="6">Surrey</ion-option>
                <ion-option value="7">Maple Ridge</ion-option>
                <ion-option value="8">Mission</ion-option>
                <ion-option value="9">New Westminster</ion-option>
                <ion-option value="10">North Vancouver</ion-option>
                <ion-option value="11">White Rock</ion-option>
                <ion-option value="12">Vancouver</ion-option>
              </ion-select>
          </ion-item>
        </ion-row> 
        <ion-row>
          <ion-col col-12>
            <ion-label color="primary" stacked>Address</ion-label>
            <ion-input type="text" formControlName="address"  name="address" placeholder="Address" required></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-label color="primary" stacked>Price per hour</ion-label>
            <ion-input type="number" step="0.001" formControlName="hour_price"  name="hour_price" placeholder="Price per hour" required></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
              <ion-label color="primary" stacked>Start date</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" formControlName="start_date"  name="start_date" placeholder="Start date"></ion-datetime>
          </ion-col>
          <ion-col col-6>
              <ion-label color="primary" stacked>End date</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" formControlName="end_date"  name="end_date" placeholder="End date"></ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
              <ion-label color="primary" stacked>Start hour</ion-label>
              <ion-datetime displayFormat="hh:mm A" formControlName="start_hour"  name="start_hour" placeholder="Start hour"></ion-datetime>
          </ion-col>
          <ion-col col-6>
              <ion-label color="primary" stacked>End hour</ion-label>
              <ion-datetime displayFormat="hh:mm A" formControlName="end_hour"  name="end_hour" placeholder="End hour"></ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <ion-label color="primary" stacked>Offer vacants</ion-label>
            <button ion-button  class="btn-registro" type="submit" (click)="addVacant()" >addVacant </button>
          </ion-col>
          <ion-col col-3>
          </ion-col>
          <ion-col col-6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <button ion-button  class="btn-registro" type="submit" (click)="save()" >Save </button>
          </ion-col>
          <ion-col col-3>
            <button ion-button color="secondary" class="btn-registro" type="submit"  >Publish </button>
          </ion-col>
          
          <ion-col col-6>
            <button ion-button color="yellow"  class="btn-registro" type="submit"  >Publish to team</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>
