<ion-header>

  <ion-navbar>
    <ion-title>BUILDER</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="workapp-content-register">
  <form (submit)="doSignup()">
    <ion-grid class="register-content">
        <ion-row>
            <ion-col col-12>
                <ion-label>Register Builder</ion-label>
            </ion-col>
            <ion-col col-12>
              <ion-input type="text" placeholder="First Name"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
              <ion-input type="text" placeholder="Second Name"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
              <ion-input type="text" placeholder="Company"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
              <ion-select [(ngModel)]="notifications" name="first" placeholder="Industry" interface="action-sheet">
                <ion-option value="c">Construction</ion-option>
                <ion-option value="f">Food Services</ion-option>
                <ion-option value="a">Auto Mechanic</ion-option>
                <ion-option value="i">Insurance</ion-option>
                <ion-option value="g">General Labour</ion-option>
              </ion-select>        
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
              <ion-input type="text" placeholder="Phone"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-2>
                <ion-badge color="secondary" class="workapp-badge"><ion-icon name="md-mail"></ion-icon></ion-badge>
            </ion-col>
            <ion-col col-10>
              <ion-input type="text" placeholder="Email"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-2>
              <ion-badge color="secondary" class="workapp-badge"><ion-icon name="md-lock"></ion-icon></ion-badge>
              
            </ion-col>
            <ion-col col-10>
              <ion-input type="password" placeholder="Password"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <button ion-button outline class="btn-registro">Register</button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </form>

</ion-content>