  <ion-content class="workapp-content">
 

      <!--<ion-card>
        <ion-item>
          <ion-row>
            <ion-col col-3>
              <img class="avatar" src="../assets/img/marty-avatar.png">
            </ion-col>
            <ion-col col-9 class="avatar-name">
                <h2>Jonathan Silva</h2>
                <p>Constructor, Electricista</p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-card-content>
          <ion-row>
            <ion-col col-3>
              <b>Skill</b>
            </ion-col>
            <ion-col col-9 class="rank-stars">
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
            </ion-col>
            <ion-col col-3>
              <b>Puntuality</b>
            </ion-col>
            <ion-col col-9 class="rank-stars">
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
            </ion-col>
            <ion-col col-3>
              <b>Dicipline</b>
            </ion-col>
            <ion-col col-9 class="rank-stars">
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-col col-12>
            <b class="description-label">Description:</b>
          </ion-col>
          <ion-col col-12>
            <p>
              Soy un constructor de mucha experiencia 
              y me he trabajado en varios proyectos, 
              contratando gran numero de personas.
            </p>
          </ion-col>
        </ion-card-content>
          <ion-row class="butons-container">
            <ion-col col-9>
              <button ion-button outline class="btn-referencias" (click)="references(1)"  small icon-paper>
                <ion-icon name="md-paper"></ion-icon>
                References
              </button>
            </ion-col>
            <ion-col col-3>
              <button ion-button outline class="btn-detalle" (click)="detail(1)"  small icon-start> 
                <ion-icon  name="md-person"></ion-icon>
                Detail
              </button>
            </ion-col>
        
          </ion-row>
      </ion-card>-->
      <ion-card *ngFor="let Employee of Employees; let i = index">
        <ion-item>
          <ion-row>
            <ion-col col-3>
              <img class="avatar" src="../assets/img/marty-avatar.png">
            </ion-col>
            <ion-col col-9 class="avatar-name">
                <h2>{{Employee.user}}</h2>
                <p>Constructor, Electricista</p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-card-content>
          <ion-row>
            <ion-col col-3>
              <b>Skill</b>
            </ion-col>
            <ion-col col-9 class="rank-stars">
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
            </ion-col>
            <ion-col col-3>
              <b>Puntuality</b>
            </ion-col>
            <ion-col col-9 class="rank-stars">
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
            </ion-col>
            <ion-col col-3>
              <b>Dicipline</b>
            </ion-col>
            <ion-col col-9 class="rank-stars">
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
                <ion-icon name="md-star"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-col col-12>
            <b class="description-label">Description:</b>
          </ion-col>
          <ion-col col-12>
            <p>
              Soy un constructor de mucha experiencia 
              y me he trabajado en varios proyectos, 
              contratando gran numero de personas.
            </p>
          </ion-col>
        </ion-card-content>
          <ion-row class="butons-container">
            <ion-col col-9>
              <button ion-button outline class="btn-referencias" (click)="references(1)"  small icon-paper>
                <ion-icon name="md-paper"></ion-icon>
                References
              </button>
            </ion-col>
            <ion-col col-3>
              <button ion-button outline class="btn-detalle" (click)="detail(Employee.id_user)"  small icon-start> 
                <ion-icon  name="md-person"></ion-icon>
                Detail
              </button>
            </ion-col>
        
          </ion-row>
      </ion-card>
  
  </ion-content>

