page-my-references {
    .references-container{
        border-bottom: 2px solid rgb(70, 70, 114);
    }

    .references-grid{
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        width: 96%;
        margin-bottom: 5px;
    }

    .description-container{
        padding-left: 5px;
        padding-right: 5px;
    }

    .reference-header{
        background-color:  #106591;
        color: white;
        text-align: center;
    }


}
