
<ion-content class="main-content workapp-content">
  <ion-grid class="references-grid" *ngFor="let reference of user_references; let i = index">
    <ion-row class="references-container " >
        <ion-col class="reference-header" col-12>
          <b>Reference {{i+1}}</b>
        </ion-col>
        <ion-col col-4>
          <br><br>
          <b>Company</b>
        </ion-col>
        <ion-col col-8>
          <button ion-button color="danger" (click)="delete(reference.id_reference)" float-right icon-only>
              <ion-icon name="trash"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-12>
            {{reference.company}}
        </ion-col>
        <ion-col col-12 class="description-container">   
          <b>Description</b>
          <ion-textarea [(ngModel)]="reference.description" readonly >
            
          </ion-textarea>
        </ion-col>
        <ion-col col-6>
            <b>Contact</b>
          </ion-col>
          <ion-col col-6>
            <b>Phone</b>
          </ion-col>
        <ion-col col-6>
            {{reference.full_name}}
        </ion-col>
    
        <ion-col col-6 >
            <button (click)="call(reference.phone)" ion-button outline item-end icon-start>
              <ion-icon name="call"></ion-icon>
              {{reference.phone}}
            </button>
           
        </ion-col>

       
       
      </ion-row >
      </ion-grid>
      <ion-grid class="references-grid">
            <form *ngIf="user_references.length < 3" (ngSubmit)="addReference()" [formGroup]="authForm" novalidate>
                <ion-row class="references-container">
              <ion-col col-3>
                <b>Company</b>
              </ion-col>
              <ion-col col-9>
                  <ion-input formControlName="company" name="company" type="text" placeholder="Company" required></ion-input>
              </ion-col>
          
              <ion-col col-3>
                <b>Contact</b>
              </ion-col>
              <ion-col col-9>
                  <ion-input type="text" formControlName="full_name" name="full_name" placeholder="Contact Name" required></ion-input>
              </ion-col>
              <ion-col col-3>
                <b>Phone</b>
              </ion-col>
              <ion-col col-9 >
                  <ion-input type="text" formControlName="phone" name="phone" placeholder="Phone Number" required></ion-input>
              </ion-col>
              <ion-col col-3>
                <b>Description</b>
              </ion-col>
              <ion-col col-9>
                  <ion-textarea formControlName="description"  name="description" placeholder="Reference description" ></ion-textarea>
              </ion-col>
              <ion-col col-12 >
                <button ion-button type="submit" float-right	[disabled]="!authForm.valid" >Add reference</button>
              </ion-col>
            </ion-row>
            </form>
          
  </ion-grid>
</ion-content>
